<div class="navbar-top" >

    <div class="buttons">

        <button (click)="createContact()"  class="button"> <span class="plus-icon"><mat-icon svgIcon="google-plus"></mat-icon></span> <span class="button-text">Kişi oluşturun</span></button>

    </div>

</div>


<div class="navbar-scroll-container"
     fusePerfectScrollbar [fusePerfectScrollbarOptions]="{suppressScrollX: true}">


    <div class="navbar-content">
        <fuse-navigation class="material2" layout="vertical"></fuse-navigation>
    </div>

</div>
