<div class="page-layout blank p-24" fusePerfectScrollbar>

    <table mat-table [dataSource]="dataSource" class="contacts-table">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <div class="deneme">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)"
                                  [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </div>
                <div class="picture">
                    <img mat-list-avatar [src]="row.profilePhoto || defaultProfileImage">
                </div>
            </td>
        </ng-container>


        <!-- Name Column -->
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> First Name</th>
            <td mat-cell  (click)="clickRow(element)" *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> Last Name</th>
            <td mat-cell  (click)="clickRow(element)" *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email</th>
            <td mat-cell  (click)="clickRow(element)" *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Phone</th>
            <td mat-cell  (click)="clickRow(element)" *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>
        <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef> Company</th>
            <td mat-cell  (click)="clickRow(element)" *matCellDef="let element"> {{element.company}} </td>
        </ng-container>
        <ng-container matColumnDef="jobTitle">
            <th mat-header-cell *matHeaderCellDef> Job Title</th>
            <td mat-cell (click)="clickRow(element)" *matCellDef="let element"> {{element.jobTitle}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="actions-header"></th>
            <td class="actions" mat-cell *matCellDef="let element">
                <mat-icon svgIcon="edit" (click)="editUser(element.id)"></mat-icon>
                <mat-icon *ngIf="!element.favorite" [svgIcon]="'fav'" (click)="favUser(element)"></mat-icon>
                <mat-icon *ngIf="element.favorite" [svgIcon]="'active-fav'" (click)="favUser(element)"></mat-icon>
                <mat-icon class="menu" svgIcon="three-dot" [matMenuTriggerFor]="menu"></mat-icon>
                <mat-menu #menu="matMenu" class="three-dot-menu">


                    <button mat-menu-item>
                        <div>
                            <mat-icon svgIcon="print"></mat-icon>
                            Print
                        </div>
                    </button>
                    <button mat-menu-item>
                        <div>
                            <mat-icon svgIcon="export"></mat-icon>
                            Export
                        </div>
                    </button>
                    <button mat-menu-item>
                        <div>
                            <mat-icon svgIcon="other-contacts"></mat-icon>
                            Other Contacts
                        </div>
                    </button>
                    <div class="menu-title">Change labels</div>
                    <button mat-menu-item *ngFor="let label of labelService.labels | async"
                            (click)="toggleLabel(element,label)">
                        <mat-icon svgIcon="label"></mat-icon>
                        {{label.name}}

                        <mat-icon *ngIf="isSelectedlabel(element,label)" class="done">done</mat-icon>

                    </button>
                </mat-menu>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            class="denememe"

        >
        </tr>

    </table>
</div>
