@import "src/@fuse/scss/fuse";

toolbar {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;
    padding: 8px;

    &.below {
        z-index: 2;
    }

    .mat-toolbar {
        position: relative;
        background: inherit !important;
        color: inherit !important;
        box-shadow: none !important;
    }

    .logo {
        display: flex;
        align-items: center;

        .logo-icon {
            width: 38px;
        }
    }

    .user-button,
    fuse-search-bar,
    .language-button,
    .chat-panel-toggle-button,
    .quick-panel-toggle-button {
        min-width: 64px;
        height: 64px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }
    .left-header {
        min-width: 268px;
        display: flex;
        align-items: center;
        flex: 1 0 auto;
    }

    .navbar-toggle-button {
        min-width: 56px;
        height: 56px;
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center;


        .mat-icon {
            height:24px !important;
            width:24px !important;
            font-size:24px !important;

        }
    }
    .contact-icon {
        padding-right: 4px;
    }
    .main-title {
        padding-left: 4px;
    }
    .input-and-buttons {

        display: flex;
        flex-direction: row;
        max-width: 100%;
        justify-content: space-between;
        align-items: center;
        flex: 1 1 auto;
        .buttons {
            display: flex;
            align-items: center;

        }
    }

    .toolbar-separator {
        height: 64px;
        width: 1px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }
}
